<div class="footer">
  <div class="footer-logo-slogan col-xs-12 col-sm-2">
    <%= image_tag "plc-logo.png", height: 100 %>
    <p><em></em>Community-driven<br>food events</em></p>
    <div class="social-icons hidden-sm hidden-md hidden-lg hidden-xl" style="width: 117px; margin: auto">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
    </div>
  </div>
  <div class="footer-links hidden-xs">
    <div class="footer-addt-links">
      <h5>Learn More</h5>
      <p><%= link_to "About", about_path %></p>
      <p>FAQ</p>
    </div>
    <div class="footer-addt-links">
      <h5>Get Involved</h5>
      <p><%= link_to "Attend", events_path %></p>
      <p><%= link_to "Host", "https://www.wenjuan.in/s/YvmMJjv/", target: :_blank %></p>
      <p>Careers</p>
      <p>Contact Us</p>
    </div>
    <div class="footer-addt-links">
      <h5>Discover</h5>
      <p><%= link_to "Events", events_path %></p>
      <div class="social-icons">
        <i class="fab fa-facebook-f"></i>
        <a href="https://www.instagram.com/thepotluckclubofficial/" style ="color: #FFB200;"><i class="fab fa-instagram"></i></a>
        <i class="fab fa-twitter"></i>
      </div>
    </div>
  </div>
</div>
<div class="copywrite">
  <p>@<%= Time.current.year %> The Potluck Club. All Rights Reserved.</p>
</div>
