
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 0%), url('<%= @event.photos? ? (cl_image_path @event.photos.first) : (image_path 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg') %>'); height: 500px;"">
  <div class="banner-content">
    <h1><%= @event.event_name %></h1>
    <div class="date-show">
      <div class="day"><%= @event.date.day %></div>
      <div class="month"><%= @event.date.strftime("%b") %></div>
    </div>
  </div>
</div>
<div class="container-shortened">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
      <div class="event-info-card">
        <h3><%= @event.description %></h3>
        <hr width="90%">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="event-details">
              <p><i class="fas fa-map-marker-alt"></i> <%= @event.address %>A secret location in <%= @event.city %>*</p>
              <p><i class="fas fa-calendar-alt"></i> <%= @event.date.strftime("%A, %B %-d") %></p>
              <p><i class="fas fa-clock"></i> <%= @event.start_time.strftime("%H:%M").to_s + " to " + @event.end_time.strftime("%H:%M").to_s %></p>
              <p><i class="fas fa-users"></i> <%= @event.users.count == 1 ? @event.users.count.to_s + " Potlucker Attending" : @event.users.count.to_s + " Potluckers Attending" %></p>
            </div>
            <hr width="90%">
          </div>
          <div class="col-xs-12 col-md-6"">
            <h6 style="color: #ffb200">Rules: Hit the button below and one week before the event to save your spot, you will be asked to confirm your attendance and what dish you will bring.</h6>
            <%= simple_form_for @event, url: booking_event_path(@event), method: :put do |i| %>
              <%= i.button :submit, value: "Attend!", class: "btn-lg btn-primary round-corner", style: "margin: 20px 0px;" %>
            <% end %>
            <h6>*<em>The exact address will be posted here and emailed to participants one week before.</em></h6>
              <% if policy(@event).edit? %>
                <%= link_to "Update", edit_event_path(@event) %>
              <% end %>
              <% if policy(@event).destroy? %>
               <%= link_to "Destroy", @event, method: :delete, data: {confirm: 'Are you sure you want to delete this event?'} %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




