<!-- banner -->
  <div class="banner parallax" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 0%), url('<%= image_path "food-salad-dinner-eating-lite.jpg" %>');">
    <div class="banner-content">
      <h1>Breaking down social and cultural barriers through food</h1>
      <p><em>Community-driven food events</em></p>
      <%= link_to events_path do %>
        <h3 class="btn btn-primary btn-lg round-corner">Join Us <i class="fas fa-utensil-spoon"></i></h3>
      <% end %>
    </div>
  </div>

    <div class="container about-us">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
          <h3><strong>What is a Potluck?</strong></h3>
          <p>Potluck, or "bring-a-dish", is a popular concept from North America. It's a gathering where everyone brings a dish.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="how-to">
            <%= image_tag "illustration-02.svg" %>
            <p><strong>1. COOK</strong></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="how-to">
            <%= image_tag "illustration-04.svg" %>
            <p><strong>2. BRING</strong></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="how-to">
            <%= image_tag "illustration-06.svg" %>
            <p><strong>3. SHARE</strong></p>
          </div>
        </div>
      </div>
    </div>
 <!-- instagram feed -->
 <div class="img-grid">
  <div class="grid-item">
    <a href="https://www.instagram.com/CodePen/"><img src="http://unsplash.it/600?image=50" /></a>
  </div>
  <div class="grid-item">
    <a href="https://www.instagram.com/CodePen/"><img src="http://unsplash.it/600?image=10" /></a>
  </div>
  <div class="grid-item">
    <a href="https://www.instagram.com/CodePen/"><img src="http://unsplash.it/600?image=70" /></a>
  </div>
  <div class="grid-item">
    <a href="https://www.instagram.com/CodePen/"><img src="http://unsplash.it/600?image=200" /></a>
  </div>
  <div class="grid-item hidden-xs">
    <a href="https://www.instagram.com/CodePen/"><img src="http://unsplash.it/600?image=90" /></a>
  </div>
  <div class="grid-item hidden-xs">
    <a href="https://www.instagram.com/CodePen/"><img src="http://unsplash.it/600?image=450" /></a>
  </div>
  <div class="grid-item hidden-xs">
    <a href="https://www.instagram.com/CodePen/"><img src="http://unsplash.it/600?image=239" /></a>
  </div>
  <div class="grid-item hidden-xs">
    <a href="https://www.instagram.com/CodePen/"><img src="http://unsplash.it/600?image=510" /></a>
  </div>
</div>
<div class="call-to-action">
  <div class="call-to-action-content">
    <h3><strong>Attend a potluck near you.</strong></h3>
    <%= link_to events_path do %>
      <h3 class="btn btn-success btn-lg round-corner" style="color: #FFB200;">Join Us <i class="fas fa-utensils"></i></h3>
    <% end %>
  </div>
</div>
